*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  width: 100%;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;
  font-size: 130;
}

.title{
  background: linear-gradient(to right, #09bbff, #ffffff);
  padding: 20px;
}

.subtitle{
  padding: 20px;
  font-size: 150%;
}

div{
  padding: 20px;
}

.statis-container{
  text-align: center;
  float: right;
  display: inline-block;

}
.data-container{
  border: 2px solid #29b8f7;
  border-radius: 50px;
  margin-right: 30%;
  margin-left: 30%;


}

h4{
  font-size: 85%;
  color:#ff2934;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}


iframe{
  position: fixed;
  left: 50%;
  bottom:-10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-color: #cfcacb;
  font-family: 'Arial';
  font-size :75%;

}

div.shadow {
    position:fixed;
    max-width:45%;
    max-height:45%;
    top:89%;
    left:50%;
    overflow:visible;
}
img.logo {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;
}


#wrapper {
    width: 100%;
    display:block;
    position:relative;
    margin-top: 100px;
    text-align: center;
    height: auto;
}

button {
  overflow:hidden;
  color: #ff2934;
    font-family: Montserrat;
    background: white;
    border: 3px solid #ff2934;
    border-radius: 30px;
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    width:220px;
    height: 70px;
    font-size: 150%;
    text-align: center;
  }
